<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title lang="en">HellEN</title>
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css" integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </head>
  <body>
    <!-- Так добавляются фрагменты в главные HTML-файлы страниц. -->
    <!-- <include src="./partials/example.html"></include> -->
    <!-- advantages -->
    <section class="advantages">
      <h1 class="advantages__title"></h1>
      <div class="container advantages-mobile-container">
        <ul class="advantages__list">
          <li class="advantages__item">
              <div class="advantages__img">
                <!-- <svg class="advantages__icon" width="40" height="48">
                  <use href=" ./src/images/sprite.svg#icon-advantages1"></use>
                </svg> -->
              </div>
              <h3 class="advantages__description">
                Adapted author's <br />
                UPE program
              </h3>
            </li>
          <li class="advantages__item">
              <div class="advantages__img">
                <!-- <svg class="advantages__icon" width="40" height="48">
                  <use href="./src/images/sprite.svg#icon-advantages2"></use>
                </svg> -->
              </div>
              <h3 class="advantages__description">
                Modern <br />
                teaching methods
              </h3>
            </li>
          <li class="advantages__item">
                <div class="advantages__img">
                <!-- <svg class="advantages__icon" width="40" height="48">
                  <use href="./src/images/sprite.svg#icon-advantages3"></use>
                </svg> -->
              </div>
              <h3 class="advantages__description">
                Financial guarantee <br />
                the resultе
              </h3>
            </li>
          </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- advantages end -->
    </body>
</html>