<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__close-btn" data-modal-close>
            <svg class="modal__close-icon" width="18" height="18">
                <use href="../images/icons.svg#icon-closebtnmenu"></use>
            </svg>
        </button>
        <form name="main-form" class="main-form">
            <div class="main-form__block">
                <b class="main-form__title">Оставьте свои данные, мы вам перезвоним</b>
                <ul class="main-form__list">
                    <li class="main-form__item">
                        <label class="main-form__label" for="name">Name*</label>
                        <svg class="main-form__icon" width="18" height="18">
                            <use href="../images/icons.svg#person"></use>
                        </svg>
                        <input class="main-form__input" type="text" id="name" name="name" required>
                    </li>
                    <li class="main-form__item">
                        <label class="main-form__label" for="phone">Phone*</label>
                        <svg class="main-form__icon" width="18" height="18">
                            <use href="../images/icons.svg#phone"></use>
                        </svg>
                        <input class="main-form__input" type="tel" id="phone" name="phone" required>
                    </li>
                    <li class="main-form__item">
                        <label class="main-form__label" for="email">e-mail*</label>
                        <svg class="main-form__icon" width="18" height="18">
                            <use href="../images/icons.svg#mail"></use>
                        </svg>
                        <input class="main-form__input" type="email" id="email" name="email" required>
                    </li>
                    <li class="main-form__item">
                        <label class="main-form__label" for="comment">Comment</label>
                        <textarea class="main-form__comment" name="comment" id="comment" rows="6"
                            placeholder="Введите текст"></textarea>
                    </li>
                </ul>
                <div class="form-policy">
                    <input class="main-form-checkbox visually-hidden" type="checkbox" name="policy" required
                        id="policy">
                    <label class="main-form__policy" for="policy">&nbsp; Соглашаюсь с рассылкой и принимаю &nbsp;
                        <a href="/" class="form-policy__link">Условия договора</a>
                    </label>
                </div>
                <button class="main__button" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>