.review__icon-mobile{
  display: none;
}
.review__title{
  text-align: center;
}
.review__user-img{
  display: flex;
  justify-content: center;
}
.review__img:not(:last-child){
  margin-right: 32px;
}

