@media screen and (min-width:768px) {
  .review {
  padding-top: 40px;
  padding-bottom: 40px;
}
.review__container {
  padding-left: 40px;
  padding-right: 40px;
}
.accent {
  text-decoration: underline;
  color: #FF6B09;
}
.review__icon-mobile{
  display: none;
}

.review__author-img {
  text-align: center;
  margin-bottom: 20px;
}
.review__vk {
  display: block;
  
  text-align: center;
}
.review__wrap-all{
display: flex;
background-color: var(--card-team-bg);
box-shadow: 0px 4px 4px var(--shadow-team)
}
.review__wrap-text{
  width: 412px;
  margin-left: 44px;
}

.review__title {
  text-align: center;
  margin-bottom: 40px;
  font-family: Montserrat;
  font-style: ExtraBold;
  font-size: 20px;
  line-height: 1, 31;
}
.review__author {
  text-align: start;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Montserrat;
  font-style: ExtraBold;
  font-size: 20px;
  line-height: 1, 21;
  color: #FF6B09;
}
.review__education {
  margin-bottom: 20px;
  text-align: start;
  font-family: Montserrat;
  font-style: 500;
  font-size: 12px;
  line-height: 1, 25;
  color: #B9B9B9;
}
.review__comment {
  margin-bottom: 40px;
  width: 412px;
  text-align: start;
  font-family: Montserrat;
  font-style: 500;
  font-size: 12px;
  line-height: 1, 67;
  color: #3D3D3D;
}
.review__user-img{
  display: flex;
  justify-content: center;
}
.review__img:not(:last-child){
  margin-right: 32px;
}

}



// .review__author-img {
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 24px;
// }

// .review__vk {
//   display: block;
//   margin-bottom: 24px;
//   text-align: center;
// }

// .review__author {
//   text-align: center;
//   margin-top: 0;
//   margin-bottom: 16px;
//   font-family: Montserrat;
//   font-style: ExtraBold;
//   font-size: 14px;
//   line-height: 1, 21;
//   color: #FF6B09;
// }

// .review__education {
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 16px;
//   width: 240px;
//   text-align: center;
//   font-family: Montserrat;
//   font-style: 500;
//   font-size: 12px;
//   line-height: 1, 25;
//   color: #B9B9B9;
// }

// .review__comment {
//   margin-bottom: 40px;
//   text-align: center;
//   font-family: Montserrat;
//   font-style: 500;
//   font-size: 12px;
//   line-height: 1, 67;
//   color: #3D3D3D;
// }

// .accent {
//   text-decoration: underline;
//   color: #FF6B09;
// }

// .review__user-img {
//   display: flex;
//   margin-left: auto;
//   margin-right: auto;

//   width: 100%;
//   text-align: center;
//   align-items: center;
//   justify-content: center;
// }